

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registerlogin-container {
    background-color: #fff;
    padding: 20px;
    width: 280px;
    border: 1px solid grey;
    min-height: 280px;
    text-align: center;
}

.appTitle {
    width: 50%;
    font-size: medium;
    padding: 10px;
    background-color: rgb(255, 150, 0);
    color: #ffffff;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

.buttonSubmit {
    width: 60%;
    padding: 10px;
    background-color: #04c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.buttonCancel {
    padding: 10px;
    background-color: salmon;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.buttonSubmitOrange {
    width: 60%;
    padding: 10px;
    background-color: rgb(255, 150, 0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.buttonSubmit:hover {
    background-color: #06c;
}

.buttonCancel:hover {
    background-color: rgb(235, 65, 65);
}

.buttonSubmitOrange:hover {
    background-color: rgb(255, 170, 0
    );
}

a.btn{
    text-align: center;
    color: white;
}

a.btn:hover{
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    box-sizing: border-box;
}

.titleleft{
    flex: 1;
    font-weight: bold;
}

.linkright {
    display: flex;
    gap: 35px;
}

a {
    color: #555;
    text-decoration: none;
    font-size: small;
}

nav a, 
nav form {
    color: #333;
    margin-left: 30px;
    text-decoration: none;
    font-size: medium;
}

a:hover{
    color: darkblue;
}

.logout-form {
    display: inline;
}

.logout-form button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    padding: 0;
    border-radius: 4px;
}

.logout-form button:hover {
    color: darkred;
}

h2{
    padding: 3px;
    margin: 0;
    text-align: center;
}

div.transactions {
    height: 60vh;
    border: 1px solid lightgrey;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

table.transactions {
    border-spacing: 30px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

td.right {
    text-align: right;
}

h2 {
    padding: 20px;
}

input.buddyEmail{
    width: 400px;
    padding: 10px;
    box-sizing: border-box;
}

.formHorizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

div.balance{
    text-align: right;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

small.text-danger {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 0.75rem;
}


.alert-success {
    background-color: #e2f8d7;
    color: #1c7223;
}

.alert {
    text-align: center;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.btnPagination {
    padding: 5px;
}

.profile-table{
    margin-bottom: 20px;
}

.profile-table tr {
    height: 50px;
}

.profile-info th, .profile-info td {
    border:  none;
}

.profile-info {
    width: 350px;
    padding: 0px 20px 20px 20px;
}

.profile-info input{
    width: 200px;
}

div.profileBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.deposit {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form.deposit {
    box-shadow: none;
}

.messageBox{
    font-weight: bold;
}
