<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Pay My Buddy - Login</title>
</head>
<body>
    <section>
        <div th:if="${successMessage}" class="alert alert-success">
            <p th:text="${successMessage}"></p>
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="registerlogin-container">
            <div class="appTitle">Pay My Buddy</div>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Mail" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Mot de passe" required>
                </div>
                <button class="buttonSubmit" type="submit">Se connecter</button>
            </form>
            <a href="/register"> S'inscrire </a>
        </div>
    </section>
</body>
</html>