<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Pay My Buddy - Profile</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="/transfer">Transferer</a>
            <a href="/user/profile">Profil</a>
            <a href="/relation">Ajouter relation</a>
            <form th:action="@{/logout}" method="post" class="logout-form">
                <button type="submit" class="logout-link">Se déconnecter</button>
            </form>
        </nav>
        
        <section>
            <div class="profile-info">
                <h2>Profil</h2>
                <table class="profile-table">
                    <tr>
                        <td><strong>Nom d'utilisateur:</strong></td>
                        <td><span th:text="${username}"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Email:</strong></td>
                        <td><span th:text="${email}"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Mot de passe:</strong></td>
                        <td><button class="buttonValid" >Modifier</button></td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</body>
</html>