<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Pay My Buddy - Profile</title>
</head>
<body>
    <div class="container">
        <div th:insert="~{fragment/navbar :: navbar}"></div>
        <section>
            <div th:if="${successMessage}" class="alert alert-success">
                <p th:text="${successMessage}"></p>
            </div>
            <div th:if="${errorMessage}" class="alert alert-danger">
                <p th:text="${errorMessage}"></p>
            </div>
            <div class="profile-info">
                <form th:action="@{/user/profile}" method="post" th:object="${updateUserDTO}">
                    <input type="hidden" name="_method" value="patch">
                    <table class="profile-table">
                        <tr>
                            <td><strong>Username</strong></td>
                            <td>
                                <span  th:if="${!editMode}" th:text="${username}"></span>
                                <input th:if="${editMode}" type="text" name="username" th:value="${updateUserDTO.username}">
                                <small th:if="${usernameError}" 
                                    th:text="${usernameError}" 
                                    class="text-danger alert alert-danger">
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Mail</strong></td>
                            <td>
                                <span  th:if="${!editMode}" th:text="${email}"></span>
                                <input th:if="${editMode}" type="email" name="email" th:value="${updateUserDTO.email}">
                                <small th:if="${emailError}" 
                                    th:text="${emailError}" 
                                    class="text-danger alert alert-danger">
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Mot de passe</strong></td>
                            <td>
                                <span  th:if="${!editMode}">mot de passe</span>
                                <input th:if="${editMode}" type="password" name="password">
                            </td>
                        </tr>
                    </table>
                    <div class="profileBtn">
                        <a th:if="${!editMode}" href="/user/profile/edit" class="btn buttonSubmitOrange">Modifier</a>
                        <button th:if="${editMode}" type="submit" class="buttonSubmitOrange">Enregistrer</button>
                        <a th:if="${editMode}" href="/user/profile" class="btn buttonCancel">Annuler</a>
                    </div>
                </form>     
            </div>
        </section>
    </div>
</body>
</html>