<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Pay My Buddy - Ajouter relation</title>
</head>
<body>
    <div class="container">
        <div th:insert="~{fragment/navbar :: navbar}"></div>
        <div th:if="${successMessage}" class="alert alert-success">
            <p th:text="${successMessage}"></p>
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="messageBox">Chercher une relation</div>
        <form class="formHorizontal" th:action="@{relation}" method="post">
            <input class="buddyEmail" type="email" id="buddyEmail" name="buddyEmail" placeholder="Saisir une adresse email" required>
            <button class="buttonSubmitOrange" type="submit">Ajouter</button>
        </form>
        
        <div class="transactions">
            <h2>Mes Buddies</h2>
            <table class="transactions">
                <thead>
                    <tr>
                        <th>Buddy</th>
                        <th>Adresse mail</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="buddy : ${buddies.buddies}">
                        <td th:text="${buddy.username}"></td>
                        <td th:text="${buddy.email}"></td>
                        <td>
                            <form th:action="@{/user/relation/{id}(id=${buddy.id})}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="buttonCancel">x</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>  
        </div>  
    </div>
</body>
</html>