<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Pay My Buddy - Transfer</title>
</head>
<body>
    <div class="container">
        <div th:insert="~{fragment/navbar :: navbar}"></div>
        <section>
            <div class="balance">Disponible: <span th:text="${balance}"></span> €</div>
            <form class="formHorizontal" th:action="@{transfer}" method="post">
                <select id="buddySelect" name="buddy">
                    <option value="">-- Sélectionner une relation --</option>
                    <option th:each="buddy : ${buddies}" 
                            th:value="${buddy.id}" 
                            th:text="${buddy.username}">
                    </option>
                </select>
                <input type="text" name="description" id="description" placeholder="Description">
                <input type="number" name="amount" id="amount" min="0" step="0.01" placeholder="Montant">
                <button class="buttonSubmit" type="submit">Transférer</button>
            </form>
            <div class="transactions">
                <h2>Mes transactions</h2>
                <table class="transactions">
                    <thead>
                        <tr>
                           <th>Sender</th>
                           <th>Receiver</th>
                           <th>Description</th>
                           <th>Amount</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="transaction : ${transactions.transactions}">
                            <td th:text="${transaction.senderName}"></td>
                            <td th:text="${transaction.receiverName}"></td>
                            <td th:text="${transaction.description}"></td>
                            <td th:text="${transaction.amount} + '€'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>
</html>