<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Pay My Buddy - Transfer</title>
</head>
<body>
    <div class="container">
        <div th:insert="~{fragment/navbar :: navbar}"></div>
        <section>
            <div th:if="${successMessage}" class="alert alert-success">
                <p th:text="${successMessage}"></p>
            </div>
            <div th:if="${errorMessage}" class="alert alert-danger">
                <p th:text="${errorMessage}"></p>
            </div>
            <div class="balance">Disponible: <span th:text="${balance}"></span> €</div>
            <form class="formHorizontal" th:action="@{transfer}" method="post">
                <select id="buddySelect" name="buddy">
                    <option value="">-- Sélectionner une relation --</option>
                    <option th:each="buddy : ${buddies.buddies}" 
                            th:value="${buddy.email}" 
                            th:text="${buddy.username}">
                    </option>
                </select>
                <input type="text" name="description" id="description" placeholder="Description">
                <input type="number" name="amount" id="amount" min="0" step="0.01" placeholder="Montant">
                <button class="buttonSubmit" type="submit">Transférer</button>
            </form>
            <div class="transactions">
                <h2>Mes transactions</h2>
                <table class="transactions">
                    <thead>
                        <tr>
                           <th>Emetteur</th>
                           <th>Destinataire</th>
                           <th>Description</th>
                           <th>Montant</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="transaction : ${transactions}">
                            <td th:text="${transaction.senderName}"></td>
                            <td th:text="${transaction.receiverName}"></td>
                            <td th:text="${transaction.description}"></td>
                            <td th:text="${transaction.amount} + '€'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <a th:if="${currentPage > 0 and totalPages > 1}" 
                   th:href="@{/user/transfer(page=${currentPage - 1}, size=${8})}" 
                   class="btnPagination">&lt;</a>
                <span>Page <span th:text="${currentPage + 1}"></span> / <span th:text="${totalPages}"></span></span>
                <a th:if="${currentPage + 1 < totalPages and totalPages > 1}" 
                   th:href="@{/user/transfer(page=${currentPage + 1}, size=${8})}" 
                   class="btnPagination">&gt;</a>
            </div>
        </section>
    </div>
</body>
</html>